<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import page stylesheets-->
  <link rel="stylesheet" href="css/template.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <i class="material-icons md-36 orange600">event</i>Event Manager</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active">
              <a href="#">Username</a>
            </li>
            <li class="disabled">
              <a href="#">Events</a>
            </li>
            <li class="disabled">
              <a href="#">Centers</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="#">Username</a>
            </li>
            <li class="disabled">
              <a href="#">Events</a>
            </li>
            <li class="disabled">
              <a href="#">Centers</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="row" id="center_action">

      <h5 style="text-align: center;" class="">Add Center</h5>

    </div>

    <div class="row">

      <form id="main_form" class="col s12">
        <div class="row">

          <div class="col l6 s12 left">
            <fieldset>
              <legend class="">Center Info</legend>
              <div class="row">
                <div class="input-field col l6 s12 left">
                  <input placeholder="eg Muson Center" id="center_name" name="center_name" type="text" class="validate" required minlength="2">
                  <label for="center_name">Center Name</label>
                </div>
                <div class="input-field col l5 s12 right">

                  <select id="center_type" class="validate icons" multiple required>
                    <option value="" disabled selected class="">Select all that apply</option>
                    <option value="Wedding" data-icon="images/5.jpg" class="circle">Wedding</option>
                    <option value="Cocktail Party" data-icon="images/eko-convention-centre.jpg" class="circle">Cocktail Party</option>
                    <option value="Corporate Event" data-icon="images\ev2_1343827227102.jpg" class="circle">Corporate Event</option>
                    <option value="Engagement" data-icon="images\hi_lagososun01_6_675x359_FitToBoxSmallDimension_Center.jpg" class="circle">Engagement</option>
                    <option value="Birthday Party" data-icon="images/vllkytdc8qniludqc.3dab3474.jpg" class="circle">Birthday Party</option>
                    <option value="Other Occasion" data-icon="images/welcomecenter.jpg" class="circle">Other Occasion</option>
                  </select>
                  <label for="center_type">Event Type</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s3 left">
                  <input placeholder="100,000" id="center_cost" name="center_cost" type="number" class="validate" required minlength="5">
                  <label for="center_cost">Center Cost</label>
                </div>
                <div class="input-field col s3 right">
                  <input placeholder="1000" id="center_capacity" name="center_capacity" type="number" class="validate" required minlength="3">
                  <label for="center_capacity">Center Capacity</label>
                </div>
                <div class="input-field col l5 s12 right">

                  <select id="center_amenities" class="validate icons" multiple required>
                    <option value="" disabled selected class="">Select all that apply</option>
                    <option value="Bar" data-icon="images/5.jpg" class="circle">Bar</option>
                    <option value="Pool" data-icon="images/eko-convention-centre.jpg" class="circle">Pool</option>
                    <option value="Theater" data-icon="images\ev2_1343827227102.jpg" class="circle">Theater</option>
                    <option value="Landscaping" data-icon="images\hi_lagososun01_6_675x359_FitToBoxSmallDimension_Center.jpg" class="circle">Landscaping</option>
                    <option value="Projector" data-icon="images/vllkytdc8qniludqc.3dab3474.jpg" class="circle">Projector</option>
                  </select>
                  <label for="center_amenities">Center Amenities</label>
                </div>
              </div>

              <!-- submit buttons -->
              <div class="row valign-wrapper">



              </div>
            </fieldset>
          </div>

          <div class="col l6 s12 right">
            <fieldset>
              <legend class="">Center Location and Image</legend>
              <div class="row">
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="Country" id="location_country" list="country_list">
                  <label for="location_country">Select a Country</label>
                  <datalist id="country_list">
                    <option value="Nigeria">
                      <option value="Antigua">
                        <option value="Barbados">
                          <option value="Ghana">
                            <option value="Cote D'Ivoire">
                              <option value="Senegal">
                  </datalist>
                </div>
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="State or Region" id="location_region" list="region_list">
                  <label for="location_region">Select a State or Region</label>
                  <datalist id="region_list">
                    <option value="Abia">
                      <option value="Bayelsa">
                        <option value="Cross River">
                          <option value="Ebonyi">
                            <option value="Gombe">
                              <option value="Kaduna">
                  </datalist>
                </div>
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="Local Government" id="location_sregion" list="sregion_list">
                  <label for="location_sregion">Select a Sub-region</label>
                  <datalist id="sregion_list">
                    <option value="Badagry">
                      <option value="Epe">
                        <option value="Ikeja">
                          <option value="Alaba">
                            <option value="Ajegunle">
                              <option value="Ikorodu">
                  </datalist>
                </div>
              </div>

              <div class="row valign-wrapper">


                <div class="file-field input-field col s12">
                  <div class="btn">
                    <span>Add</span>
                    <input type="file" accept="image/*">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload Center Image">
                  </div>
                </div>




              </div>
              <!-- submit buttons -->
              <div class="row">

                <div class="col s4 left valign-wrapper ">
                  <button class="btn waves-effect waves-light" id="submit2" type="submit">
                    <i class="material-icons right">send</i>
                    Add Centers
                  </button>
                </div>
              </div>

            </fieldset>
          </div>

        </div>
      </form>


    </div>
    <div id="center_view" class="row">

      <div id="center_view_message" class="row">
        <h5 style="text-align: center;">Your Center has been added</h5>
      </div>
      <div class="row">
        <div id="center_text_view" class="col l6 s12 ">
          <h6>Center Details</h6>
          <p>Center ID: 012346</p>
          <p>Center Name: Twin Towers</p>
          <p>Event Types: Wedding, Birthday</p>
          <p>Dates: 12/24/2017 to 12/26/2017</p>
          <p>Center Location: Ajegunle</p>
        </div>
        <div id="center_image_view" class=" col l6 s12">
          <img class="responsive-img" src="images/2fb443_b38a041c293935f52ecb9305df3069c5.webp" alt="Event Image">

        </div>
      </div>
      <div id="center_view_buttons" class="row">
        <div class="col s4">
          <a class="btn waves-effect waves-light" id="Change1">
            <i class="material-icons right">note add</i>
            Modify

          </a>
        </div>
        <div class="col s4">
          <a class="btn waves-effect waves-light" id="Change1">
            <i class="material-icons right">clear</i>
            Delete

          </a>
        </div>
        <div class="col s4">
          <a class="btn waves-effect waves-light" id="Change1">
            <i class="material-icons right">event</i>
            View All Your Centers

          </a>
        </div>
      </div>




    </div>
    </div>
    </div>
  </main>
  <footer class="page-footer">
    <!-- <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div> -->
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Ozi Tovieye Moses
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/template.js"></script>
</body>

</html>