<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import page stylesheets-->
  <link rel="stylesheet" href="css/template.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar-fixed">

      <ul id="dropdown-user" class="dropdown-content">

        <li>
          <a href="signin.html">Sign In</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="signup.html">Sign Up</a>
        </li>

      </ul>
      <ul id="dropdown-user2" class="dropdown-content">

        <li>
          <a href="signin.html">Sign In</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="signup.html">Sign Up</a>
        </li>

      </ul>
      <ul id="dropdown-event" class="dropdown-content">

        <li>
          <a href="add_event.html">Add Event</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="view_event.html">View Event</a>
        </li>

      </ul>
      <ul id="dropdown-event2" class="dropdown-content">

        <li>
          <a href="add_event.html">Add Event</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="view_event.html">View Event</a>
        </li>

      </ul>
      <ul id="dropdown-center" class="dropdown-content">
        <li>
          <a href="#!">Search Centers</a>
        </li>
        <li>
          <a href="center_events.html">Center Details and Events</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="add_center.html">Add a Center</a>
        </li>
        <li>
          <a href="modify_center.html">Modify a Center</a>
        </li>
      </ul>
      <ul id="dropdown-center2" class="dropdown-content">
        <li>
          <a href="#!">Search Centers</a>
        </li>
        <li>
          <a href="center_events.html">Center Details and Events</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="add_center.html">Add a Center</a>
        </li>
        <li>
          <a href="modify_center.html">Modify a Center</a>
        </li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <i class="material-icons md-36 orange600">event</i>Event Manager</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active">
              <a href="#" class="dropdown-button" data-activates="dropdown-user">User
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-event">Events
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-center">Centers
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="#" class="dropdown-button" data-activates="dropdown-user2">User
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-event2">Events
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-center2">Centers
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div id="event_action" class="row">
      <h5 style="text-align: center;" class="">Add Event</h5>
    </div>

    <div class="row">

      <form id="main_form" class="col s12">
        <div class="row">
          <!-- events date section -->
          <div class="col l6 s12 left">
            <fieldset>
              <legend class="">Event Tags</legend>
              <div class="row">
                <div class="input-field col l6 s12 left">
                  <input placeholder="eg Jay's Wedding" id="event_name" name="event_name" type="text" class="validate" required minlength="2">
                  <label for="event_name">Event Name</label>
                </div>
                <div class="input-field col l5 s12 right">

                  <select id="event_type" class="validate icons" multiple required>
                    <option value="" disabled selected class="">Select all that apply</option>
                    <option value="Wedding" data-icon="images/5.jpg" class="circle">Wedding</option>
                    <option value="Cocktail Party" data-icon="images/eko-convention-centre.jpg" class="circle">Cocktail Party</option>
                    <option value="Corporate Event" data-icon="images\ev2_1343827227102.jpg" class="circle">Corporate Event</option>
                    <option value="Engagement" data-icon="images\hi_lagososun01_6_675x359_FitToBoxSmallDimension_Center.jpg" class="circle">Engagement</option>
                    <option value="Birthday Party" data-icon="images/vllkytdc8qniludqc.3dab3474.jpg" class="circle">Birthday Party</option>
                    <option value="Other Occasion" data-icon="images/welcomecenter.jpg" class="circle">Other Occasion</option>
                  </select>
                  <label for="event_type">Event Type</label>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="">Event Date</legend>
              <div class="row">
                <div class="input-field col s5 left">
                  <select id="event_duration" class="validate" required>
                    <option value="" disabled selected>Number of days</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  <label for="event_duration">Event Duration</label>
                </div>
                <div class="input-field col s6 right">
                  <input id="start_date" type="text" class="datepicker">
                  <label for="start_date">Start Date</label>
                </div>
              </div>

              <!-- submit buttons -->
              <div class="row valign-wrapper">

                <div class="col s4 left valign-wrapper ">
                  <button class="btn waves-effect waves-light" id="submit" type="submit">

                    Check Available Centers
                  </button>
                </div>
                <div class="col s7 right">
                  <p> You can also search by location and centers in the next section</p>
                </div>
              </div>
            </fieldset>
          </div>
          <!-- location section -->
          <div class="col l6 s12 right">
            <fieldset>
              <legend class="">Center Location</legend>
              <div class="row">
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="Country" id="location_country" list="country_list">
                  <label for="location_country">Select a Country</label>
                  <datalist id="country_list">
                    <option value="Nigeria">
                      <option value="Antigua">
                        <option value="Barbados">
                          <option value="Ghana">
                            <option value="Cote D'Ivoire">
                              <option value="Senegal">
                  </datalist>
                </div>
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="State or Region" id="location_region" list="region_list">
                  <label for="location_region">Select a State or Region</label>
                  <datalist id="region_list">
                    <option value="Abia">
                      <option value="Bayelsa">
                        <option value="Cross River">
                          <option value="Ebonyi">
                            <option value="Gombe">
                              <option value="Kaduna">
                  </datalist>
                </div>
                <div class="input-field col l4 s12">
                  <input type="text" placeholder="Country" id="location_sregion" list="sregion_list">
                  <label for="location_sregion">Select a Sub-region</label>
                  <datalist id="sregion_list">
                    <option value="Badagry">
                      <option value="Epe">
                        <option value="Ikeja">
                          <option value="Alaba">
                            <option value="Ajegunle">
                              <option value="Ikorodu">
                  </datalist>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="">Select Centers</legend>
              <div class="row valign-wrapper">

                <div class="input-field col l5 s12 left">
                  <input type="text" placeholder="Center Name" id="center_list_input" list="center_list" name="center_list_input" type="text">
                  <label for="center_list_input">Enter a value then select from options</label>
                  <datalist id="center_list">
                    <option value="Wedding">
                      <option value="Cocktail Party">
                        <option value="Corporate Event">
                          <option value="Engagement">
                            <option value="Birthday Party">
                              <option value="Other Occasion">
                  </datalist>

                </div>
                <div class="col s1 left valign-wrapper">
                  <a class="btn waves-effect waves-light left-align" id="add_centers">

                    Add

                  </a>

                </div>
                <div class="input-field col l4 s10 right">
                  <textarea class="materialize-textarea" id="added_centers"></textarea>
                  <label class="active" for="added_centers">Selected Centers</label>
                </div>

              </div>
              <!-- submit buttons -->
              <div class="row">

                <div class="col s4 left valign-wrapper ">
                  <button class="btn waves-effect waves-light" id="submit2" type="submit">

                    Check Available Centers
                  </button>
                </div>
              </div>

            </fieldset>
          </div>

        </div>
      </form>


    </div>
    <div class="row">
      <div id="qeury_results" class="col l6 s12">
        <div class="row">
          <div class="col s12">
            <table class="striped bordered highlight responsive-table">
              <caption class="">Event Slots</caption>
              <thead>
                <tr>
                  <td>SN</td>
                  <td>Center</td>
                  <td>Dates Available</td>
                  <td>Location</td>
                  <td>Add Event</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Baelor's Sept</td>
                  <td>12/17/2017</td>
                  <td>Badagry</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">

                      Add

                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Winterfell</td>
                  <td>12/18/2017</td>
                  <td>Ajegunle</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event2">

                      Add

                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Casterly Rock</td>
                  <td>12/19/2017</td>
                  <td>Epe</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event3">

                      Add

                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Dragonstone</td>
                  <td>12/20/2017</td>
                  <td>Ikorodu</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event4">

                      Add

                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="row">
          <div class="col s4 left">
            <a class="btn waves-effect waves-light" id="Previous">

              Previous
            </a>
          </div>
          <div class="col s4 right">
            <a class="btn waves-effect waves-light" id="Next">

              Next
            </a>
          </div>
        </div>

      </div>
      <div id="event_view" class="col l6 s12">
        <div id="event_view_message" class="row">
          <h5 style="text-align: center;">Your event has been added</h5>
        </div>
        <div class="row">
          <div id="event_text_view" class="col l6 s12 ">
            <h6>Event Details</h6>
            <p>Event ID: 012346</p>
            <p>Event Name: Red Wedding</p>
            <p>Event Types: Massacre, Slaughter</p>
            <p>Dates: 12/24/2017 to 12/26/2017</p>
            <p>Center Location: Ajegunle</p>
            <p>Center Name: Twin Towers</p>
          </div>
          <div id="event_image_view" class=" col l6 s12">
            <img class="responsive-img" src="images/2fb443_b38a041c293935f52ecb9305df3069c5.webp" alt="Event Image">

          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <a class="btn waves-effect waves-light" id="Change1">

              Modify

            </a>
          </div>
          <div class="col s4">
            <a class="btn waves-effect waves-light" id="Change1">

              Delete

            </a>
          </div>
          <div class="col s4">
            <a class="btn waves-effect waves-light" id="Change1">

              View All Your Events

            </a>
          </div>
        </div>

      </div>


    </div>
    </div>
    </div>
  </main>
  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Ozi Tovieye Moses
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/template.js"></script>
</body>

</html>