<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import page stylesheets-->
  <link rel="stylesheet" href="css/template.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <i class="material-icons md-36 orange600">event</i>Event Manager</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active">
              <a href="#">Username</a>
            </li>
            <li class="disabled">
              <a href="#">Events</a>
            </li>
            <li class="disabled">
              <a href="#">Centers</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="#">Username</a>
            </li>
            <li class="disabled">
              <a href="#">Events</a>
            </li>
            <li class="disabled">
              <a href="#">Centers</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div id="center_action" class="row">
      <h5 style="text-align: center;" class="">Center #012346</h5>
    </div>


    <div class="row">
      <div id="qeury_results" class="col l6 s12 right">
        <div class="row">
          <div class="col s12">
            <table class="striped bordered highlight responsive-table">
              <caption class="">Center Events</caption>
              <thead>
                <tr>
                  <td>SN</td>
                  <td>Event ID</td>
                  <td>Event Name</td>
                  <td>Event Type</td>
                  <td>Dates</td>
                  <td>Edit Event</td>
                  <td> Delete Event</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>#012346</td>
                  <td>Red Wedding</td>
                  <td>Wedding</td>
                  <td>12/17/2017 to 12/19/2017</td>
                  <td>
                    <a href="" class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Edit</i>
                      Edit
                    </a>
                  </td>
                  <td>
                    <a href="#" class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Clear</i>
                      Delete
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>#012346</td>
                  <td>Romeo</td>
                  <td>Concert</td>
                  <td>12/17/2017 to 12/19/2017</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Edit</i>
                      Edit
                    </a>
                  </td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Clear</i>
                      Delete
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>#012346</td>
                  <td>Hendricks</td>
                  <td>Cocktail Party</td>
                  <td>12/17/2017 to 12/19/2017</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Edit</i>
                      Edit
                    </a>
                  </td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Clear</i>
                      Delete
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>#012346</td>
                  <td>Cinderella</td>
                  <td>Engagement</td>
                  <td>12/17/2017 to 12/19/2017</td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Edit</i>
                      Edit
                    </a>
                  </td>
                  <td>
                    <a class="btn waves-effect waves-light left-align" id="Event1">
                      <i class="material-icons right">Clear</i>
                      Delete
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="row">
          <div class="col s4 left">
            <a class="btn waves-effect waves-light" id="Previous">
              <i class="material-icons left">fast rewind</i>
              Previous
            </a>
          </div>
          <div class="col s4 right">
            <a class="btn waves-effect waves-light" id="Next">
              <i class="material-icons right">fast forward</i>
              Next
            </a>
          </div>
        </div>

      </div>
      <div id="center_view" class="col l6 s12 left">


        <div class="row">
          <div id="center_text_view" class="col  l6 s12 ">
            <h6>Center Details</h6>
            <p>Center ID: 012346</p>
            <p>Center Name: Twin Towers</p>
            <p>Event Types: Wedding, Birthday</p>
            <p>Center Cost: 100000</p>
            <p>Center Amenities: Bar, Pool</p>
            <p>Center Capacity: 200</p>
            <p>Center Location: Ajegunle</p>
          </div>
          <div id="center_image_view" class=" col  l6 s12">
            <img class="responsive-img" src="images/2fb443_b38a041c293935f52ecb9305df3069c5.webp" alt="Event Image">

          </div>
        </div>

      </div>
    </div>
    </div>
    </div>
  </main>
  <footer class="page-footer">
    <!-- <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div> -->
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Ozi Tovieye Moses
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/template.js"></script>
</body>

</html>