<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import page stylesheets-->
  <link rel="stylesheet" href="css/template.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar-fixed">

      <ul id="dropdown-user" class="dropdown-content">

        <li>
          <a href="signin.html">Sign In</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="signup.html">Sign Up</a>
        </li>

      </ul>
      <ul id="dropdown-user2" class="dropdown-content">

        <li>
          <a href="signin.html">Sign In</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="signup.html">Sign Up</a>
        </li>

      </ul>
      <ul id="dropdown-event" class="dropdown-content">

        <li>
          <a href="add_event.html">Add Event</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="modify_event.html">Modify Event</a>
        </li>
        <li>
          <a href="delete_event.html">Delete Event</a>
        </li>

      </ul>
      <ul id="dropdown-event2" class="dropdown-content">

        <li>
          <a href="add_event.html">Add Event</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="modify_event.html">Modify Event</a>
        </li>
        <li>
          <a href="delete_event.html">Delete Event</a>
        </li>

      </ul>
      <ul id="dropdown-center" class="dropdown-content">
        <li>
          <a href="#!">Search Centers</a>
        </li>
        <li>
          <a href="center_events.html">Center Details and Events</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="add_center.html">Add a Center</a>
        </li>
        <li>
          <a href="modify_center.html">Modify a Center</a>
        </li>
      </ul>
      <ul id="dropdown-center2" class="dropdown-content">
        <li>
          <a href="#!">Search Centers</a>
        </li>
        <li>
          <a href="center_events.html">Center Details and Events</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="add_center.html">Add a Center</a>
        </li>
        <li>
          <a href="modify_center.html">Modify a Center</a>
        </li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <i class="material-icons md-36 orange600">event</i>Event Manager</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active">
              <a href="#" class="dropdown-button" data-activates="dropdown-user">SignIn/SignUp
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-event">Events
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-center">Centers
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#">Guest</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="#" class="dropdown-button" data-activates="dropdown-user2">SignIn/SignUp
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-event2">Events
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-button" data-activates="dropdown-center2">Centers
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a href="#">Guest</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">

      <div id="center_text_view" class="row">
        <div class="col l6 offset-l3 s12">
          <div class="card">
            <div class="card-image">
              <img src="images/2fb443_b38a041c293935f52ecb9305df3069c5.webp" alt="Event Image">>

            </div>
            <div class="card-content">
              <h6>Book Your Events</h6>
              <h6>At the Best Centers</h6>
              <h6>For the Best Prices</h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="row">
        <div class="col s12">
          © 2017 Copyright Ozi Tovieye Moses
        </div>

      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/template.js"></script>
</body>

</html>