<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--Import page stylesheets-->
  <link rel="stylesheet" href="css/template.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            <i class="material-icons md-36 orange600">event</i>Event Manager</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active">
              <a href="#">Login/Signup</a>
            </li>
            <li class="disabled">
              <a href="#">Book Events</a>
            </li>
            <li class="disabled">
              <a href="#">View Centers</a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="active">
              <a href="#">Login/Signup</a>
            </li>
            <li class="disabled">
              <a href="#">Book Events</a>
            </li>
            <li class="disabled">
              <a href="#">View Centers</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <form>
            <p class="grey-text text-lighten-1">Required fields are followed by
              <span class="red-text">*</span>
            </p>
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Email" id="user_name" type="email" class="validate" required pattern="[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}">
                <label for="user_name">Enter your email address
                  <span class="red-text">*</span>

                </label>
                <h6 class="grey-text text-lighten-1">Your email address is your username</h6>
              </div>

            </div>

            <div class="row">

              <div class="input-field col s12">
                <input id="password" type="password" class="validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                <label for="password">Password
                  <span class="red-text">*</span>
                  </strong>
                </label>

              </div>


            </div>

            <div class="row">
              <div class="col s3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign In
                  <i class="material-icons right">lock open</i>
                </button>
              </div>

            </div>
          </form>
          <div>
            <a href="signup.html">
              <span>Haven't Signed Up? Click Here to Sign Up
                <i class="material-icons right">person add</i>
              </span>
            </a>
          </div>
        </div>
        <div class="col l7 s12">
          <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!">
              <img src="images/2fb443_b38a041c293935f52ecb9305df3069c5.webp">
            </a>
            <a class="carousel-item" href="#two!">
              <img src="images/5.jpg">
            </a>
            <a class="carousel-item" href="#three!">
              <img src="images/eko-convention-centre.jpg">
            </a>
            <a class="carousel-item" href="#four!">
              <img src="images/ev2_1343827227102.jpg">
            </a>
            <a class="carousel-item" href="#five!">
              <img src="images/vllkytdc8qniludqc.3dab3474.jpg">
            </a>
          </div>
        </div>



      </div>
    </div>
  </main>
  <footer class="page-footer">
    <!-- <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div> -->
    <div class="footer-copyright">
      <div class="container">
        © 2017 Copyright Ozi Tovieye Moses
      </div>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/template.js"></script>
</body>

</html>