{
  "presets": [
    ["@babel/preset-env", {
      "spec": true,
      "shippedProposals": true,
      "exclude": ["transform-regenerator", "transform-async-to-generator", "proposal-async-generator-functions"]
    }]
  ]
}