{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "server/**/*.js"
  ],
  "require": [
    "@std/esm"
  ],
  "extension": [
    ".js"
  ],
  "check-coverage": false,
  "cache": true,
  "sourceMap": true,
  "instrument": true
}